.slider01A {
  margin-left: 30px;
  /* margin-top: 10px; */
  width: 370px;
  height: 462.25px;
}
.mainImg1 {
  margin-left: 20px;
  /* margin-top: 10px; */
  margin-bottom: 15px;
  width: 330px;
  height: 300px;
}
.leftbtn {
  color: gray;
  margin-top: 15px;
  border: none;
  float: left;
  background-color: transparent;
}
.Rightbtn {
  color: gray;
  margin-top: 15px;
  float: right;
  border: none;
  background-color: transparent;
}

.slideImg {
  margin-left: 12px;
  padding: 3px;
  width: 68px;
  height: 68px;
}
.slideImg:hover {
  border: 2px solid black;
}

/* .............Slider01B CSS Start........ */
.slider01B {
  margin-top: 10px;
}
.stardiv {
  margin-top: -20px;
  /* margin-top: 30px; */
  font-weight: 400;
  font-size: 37px;
  font-family: "Times New Roman", Times, serif;
}
.reviewDiv {
  margin-top: -20px;
}
.starImg {
  height: 12px;
  width: 12px;
}
.review {
  color: #00a0dd;
  font-size: 12px;
  margin-left: 5px;
  font-family: "Open Sans";
}

/* .............Slider01C CSS Start........ */
.slider01C {
  margin-top: 10px;
}
.accordion {
  margin-top: -15px;
  margin-left: 20px;
  border-radius: 4px;
}
.accordianItem {
  height: auto;
}
.stocDiv {
  margin-top: -45px;
  color: #589555;
  margin-left: 20px;
}

.accordionButton {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  /* background-color: #bbbbbb48; */
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease; */
}
.accordionButton2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
}
.radioIcon2 {
  margin-top: -20px;
  margin-right: 5px;
}

.Slider01C {
  /* margin-top: 30px; */
  height: 580px;
  width: 320px;
  overflow: hidden visible;
  margin-bottom: 10px;
}

.cardHeader {
  height: 70px;
  background-color: #d9d6ce;
}
.icondiv {
  margin-left: 5px;
}
.radioIcon {
  margin-top: 15px;
}
.radio1 {
  font-weight: bold;
  margin-top: 10px;
}
.doloor {
  font-size: 10px;
  font-weight: bold;
}
.money {
  font-weight: bold;
  font-size: 18px;
}
.degree {
  font-size: 11px;
  font-weight: bold;
}
.offer {
  text-decoration: line-through;
  font-size: 12px;
  margin-left: 5px;
  color: gray;
}
.ooferBtn {
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 5px;
}
.offer2 {
  border: none;
  margin-left: 20px;
  background-color: #80db69;
  width: 110px;
  height: 25px;
  font-weight: bold;
}
.cartBtn {
  margin-left: 20px;
  margin-top: 20px;
  padding: 6px 40px;
  width: 330px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-weight: 400;
}
.subs {
  margin-left: 20px;
  font-size: 13px;
  margin-top: 5px;
}
.Ptext {
  font-size: 15px;
  margin-left: 20px;
}
.liText {
  margin-left: 10px;
}

.header {
  margin-left: -10px;
  padding: 10px;
  cursor: pointer;
  color: rgb(0, 167, 225);
}
.content {
  margin-top: -15px;
  color: black;
  padding: 5px;
  font-size: 12px;
}
.subsContent {
  margin-top: 10px;
  font-size: 16px;
}
.infoBtn {
  margin-left: 300px;
  margin-top: -77px;
}
.liContent {
  margin-top: -15px;
  margin-left: -30px !important;
}
.bottomText {
  text-align: center;
  margin-top: -10px;
  font-size: 14px;
}
.icon {
  transition: transform 0.3 ease;
}
.stock {
  margin-top: -10px;
  color: #589555;
  margin-left: 20px;
}

.selectDiv {
  margin-top: 10px;
  padding: 2px 8px;
  width: 100px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #bbbbbb6c;
  border: 0.5px solid gray;
  outline: none;
}
.qty {
  color: black;
  font-weight: 700 !important;
}
.delivery {
  margin-top: 15px;
  margin-left: 20px;
}

.subBtn {
  margin-left: 20px;
  margin-top: 20px;
  padding: 6px 40px;
  width: 350px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-weight: 400;
}

/*.......Responsive start Slider01A...........*/

@media only screen and (max-width: 3000px) and (min-width: 2800px) {
  .slider01A {
    margin-left: 400px;
    width: 600px;
  }
  .mainImg1 {
    margin-left: 40px;
    width: 500px;
  }
  .slideImg {
    width: 100px;
    height: 100px;
  }

  
  .slider01B {
    margin-left: 100px;
    width: 600px;
  }


  .accordion {
    margin-left: -100px;
    width: 600px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .slider01A {
    margin-top: 0;
    margin-left: 190px;
  }
  .mainImg1 {
    margin-left: 20px;
    margin-top: -30px;
    margin-bottom: 15px;
    /* width: 310px; */
    width: 100%;
    height: 280px;
  }

  /* .............Slider01B CSS Start........ */
  .slider01B {
    margin-top: 10px;
  }
  .stardiv {
    line-height: 1.1;
    margin-left: 70px;
    margin-top: -90px;
  }
  .reviewDiv {
    margin-left: 70px;
    margin-top: 0px;
  }
  .textarea {
    width: 590px;
    /* width: 600px; */
    margin-left: 70px;
    margin-top: 20px;
  }

  /* .............Slider01C CSS Start........ */
  .slider01C {
    margin-left: 10px;
    width: 640px;
    margin-top: 0px;
  }
  .accordion {
    margin-top: 0px;
    margin-left: 60px;
  }
  .ooferBtn {
    margin-top: -10px;
    margin-left: 20px;
  }
  .content {
    margin-left: 30px;
    font-size: 13px;
  }
  .subsContent {
    margin-top: 10px;
    font-size: 16px;
  }
  .infoBtn {
    margin-left: 135px;
    margin-top: -80px;
  }

  .subBtn {
    margin-left: 50px;
    width: auto;
  }

  .Ptext {
    font-size: 15px;
  }
  .liText {
    margin-top: -10px;
    margin-left: 20px;
  }
  .liContent {
    margin-top: -15px;
    margin-left: -30px !important;
  }
  .cartBtn {
    width: auto;
    /* width: 500px; */
    margin-left: 40px;
  }

  .header {
    margin-left: 10px;
    margin-top: -20px;
    font-size: 20px;
    color: rgb(0, 167, 225);
  }
}
@media only screen and (max-width: 766px) and (min-width: 425px) {
  .slider01A {
    margin-left: 10px !important;
    width: 370px;
    height: 462.25px;
  }
  .mainImg1 {
    margin-left: 55px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 250px;
    height: 200px;
  }

  /* .............Slider01B CSS Start........ */
  .stardiv {
    font-size: 35px;
    margin-left: 35px;
    margin-top: -160px;
  }
  .reviewDiv {
    margin-top: -20px;
    margin-left: 35px;
  }
  .textarea {
    margin: 35px;
    margin-top: 10px;
  }
  /* .............Slider01C CSS Start........ */
  .accordion {
    margin-left: 30px;
    width: 340px;
  }
  .stocDiv {
    margin-top: -40px;
  }
  .radio1 {
    margin-left: 5px;
  }
  .cartBtn {
    font-size: 17px;
    width: 255px;
  }
  .ooferBtn {
    margin-left: 25px;
    margin-top: -20px;
  }
  .Ptext {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: 25px;
  }
  .icondiv {
    margin-left: 20px;
  }
  .liText {
    margin-top: -10px;
    margin-left: 20px;
  }
  .header {
    font-size: 17px;
    margin-top: -20px;
    margin-left: 15px;
    color: rgb(0, 167, 225);
  }
  .content {
    flex-direction: column !important;
    row-gap: 10px !important;
    font-size: 9px;
    margin-left: 10px;
    margin-left: 25px;
  }
  .subsContent {
    margin-top: 10px;
    margin-left: -15px;
    font-size: 12px;
  }
  .infoBtn {
    width: 20px;
    margin-left: 220px;
    margin-top: -65px;
  }
  .subBtn {
    font-size: 17px;
    width: 255px;
  }
}
@media only screen and (max-width: 423px) and (min-width: 375px) {
  .slider01A {
    margin-top: -50px;
    margin-left: -8px;
  }
  .mainImg1 {
    margin-left: 55px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 250px;
    height: 200px;
  }

  /* .............Slider01B CSS Start........ */
  .stardiv {
    font-size: 35px;
    margin-left: 35px;
    margin-top: -160px;
  }
  .reviewDiv {
    margin-top: -20px;
    margin-left: 35px;
  }
  .textarea {
    width: 280px;
    margin: 35px;
    margin-top: 10px;
  }
  /* .............Slider01C CSS Start........ */
  .accordion {
    margin-left: 30px;
    width: 290px;
  }
  .stocDiv {
    margin-top: -45px;
  }

  .selectDiv {
    width: 100px;
  }
  .cartBtn {
    margin-left: 20px;
    font-size: 16px;
    width: 210px;
  }

  .Ptext {
    margin-left: 0px;
    margin-top: -10px;
  }
  .liText {
    margin-left: 0px;
    margin-top: -10px;
  }
  .header {
    margin-top: -25px;
    margin-left: 0px;
    color: rgb(0, 167, 225);
  }
  .content {
    width: 250px;
    margin-left: 10px;
    font-size: 10px;
  }
  .subsContent {
    margin-top: 5px;
    margin-left: -40px;
    font-size: 12px;
  }
  .infoBtn {
    width: 20px;
    margin-left: 190px;
    margin-top: -65px;
  }
  .liContent {
    margin-top: -20px;
  }
  .stocDiv2 {
    margin-top: 0px;
  }
  .subBtn {
    font-size: 16px;
    margin-left: 20px;
    width: 210px;
  }
}
@media only screen and (max-width: 370px) and (min-width: 320px) {
  .slider01A {
    margin-top: -50px;
    margin-left: -15px;
  }
  .mainImg1 {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 240px;
    height: 180px;
  }

  /* .............Slider01B CSS Start........ */
  .stardiv {
    width: 300px;
    font-size: 24px;
    margin-left: 25px;
    margin-top: -180px;
  }
  .reviewDiv {
    margin-top: -20px;
    margin-left: 25px;
  }
  .textarea {
    width: 280px;
    margin-left: 25px;
    margin-top: 10px;
  }

  /* .............Slider01C CSS Start........ */
  .accordion {
    margin-top: 0px;
    width: 300px;
  }
  .stocDiv {
    margin-top: -45px;
  }

  .selectDiv {
    width: 100px;
  }
  .cartBtn {
    margin-left: 20px;
    font-size: 16px;
    width: 210px;
  }

  .Ptext {
    margin-left: 0px;
    margin-top: -10px;
  }
  .liText {
    margin-left: 0px;
    margin-top: -10px;
  }
  .header {
    margin-top: -20px;
    font-size: 16px;
    margin-left: -10px;
    color: rgb(0, 167, 225);
  }
  .content {
    margin-top: -10px;
    width: 250px !important;
    row-gap: 10px;
    margin-left: 10px !important;
    font-size: 10px;
  }
  .subsContent {
    width: 180px;
    margin-left: 5px;
    font-size: 14px;
    font-family: Gotham-Book, Arial, serif;
  }
  .infoBtn {
    width: 16px;
    margin-top: -70px;
    margin-left: 125px;
  }
  .liContent {
    font-size: 12px;
    margin-top: -25px;
    margin-left: -30px !important;
  }
  .stocDiv2 {
    margin-top: 0px;
  }
  .subBtn {
    font-size: 16px;
    margin-left: 20px;
    width: 210px;
  }

  /* .accordion{
      width: 200px;
      
    } */
}
